
<body>
    <section class="home-nav">
        <header>
            <div class="header-bar">
                <img src="assets/header/factoryIcon.svg" alt="">
                <h1>MES</h1>
            </div>
            <nav class="nav-bar">
                <div class="dashboard" routerLinkActive="active" routerLink="/Dashboard">
                <img src="assets/header/grid-2.svg" height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Dashboard</p>
                </div>
                <div class="resources" routerLinkActive="active" routerLink="/Resources">
                <img src="assets/header/Resources.svg" height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Resources</p> 
                
                </div>
                <div class="manifacturing" routerLinkActive="active" routerLink="/Manufacturing">
                <img src="assets/header/manifacturing.svg" height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Manifacturing</p>    
                </div>
                <div class="machines" routerLinkActive="active" routerLink="/Machines">
                    <fa-icon [icon]="faWrench" class="fa-2x"></fa-icon>
                <p>Machines</p>
                </div>
                <div class="plannin" routerLinkActive="active" routerLink="/Planning">
                    <fa-icon [icon]="faCodeCompare" class="fa-2x"></fa-icon>
                <p>Plannin</p>    
                </div>
                <div class="issues">
                    <fa-icon [icon]="faTriangleExclamation" class="fa-2x"></fa-icon>        
                <p>Issues</p>
                </div>
                <div class="settings">
                <img src="assets/header/setting.svg"height="25" width="25" viewBox="0 0 16 16" alt="" routerLink="/menu/">        
                <p>settings</p>    
                </div>
                <div class="logout" routerLinkActive="active" routerLink="/singin">
                <img src="assets/header/logout.svg"height="25" width="25" viewBox="0 0 16 16" alt="">        
                <p>Logout</p>     
                </div>
            </nav>
        </header>
        
    </section>
</body>

