
<body>
    <section class="home-nav">
        <header>
            <div class="header-bar">
                <img src="../assets/header/factoryIcon.svg" alt="">
                <h1>MES</h1>
            </div>
            <nav class="nav-bar">
                <div class="dashboard">
                <img src="../assets/header/grid-2.svg" height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Dashboard</p>
                </div>
                <div class="resources">
                <img src="../assets/header/Resources.svg" height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Resources</p>    
                </div>
                <div class="manifacturing">
                <img src="../assets/header/manifacturing.svg" height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Manifacturing</p>    
                </div>
                <div class="machines">
                <img src="../assets/header/wrench-solid.svg"height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Machines</p>
                </div>
                <div class="plannin">
                <img src="../assets/header/code-compare.svg"height="25" width="25" viewBox="0 0 16 16" alt="">
                <p>Plannin</p>    
                </div>
                <div class="issues">
                <img src="../assets/header/triangle-exclamation-solid.svg"height="25" width="25" viewBox="0 0 16 16" alt="">        
                <p>Issues</p>
                </div>
                <div class="settings">
                <img src="../assets/header/setting.svg"height="25" width="25" viewBox="0 0 16 16" alt="">        
                <p>settings</p>    
                </div>
                <div class="logout">
                <img src="../assets/header/logout.svg"height="25" width="25" viewBox="0 0 16 16" alt="">        
                <p>Logout</p>     
                </div>
            </nav>
        </header>
        
    </section>
</body>

