        <!--nav-->
        <nav>
            <div class="factory-name">
                <fa-icon [icon]="faHotel" class="fa-2x "></fa-icon> 
                <p>Factory Name</p>
                <fa-icon [icon]="faChevronDown" class="fa-2x icons-2"></fa-icon> 

            </div>
            <div class="setting">
                <fa-icon [icon]="faSliders" class="fa-2x"></fa-icon> 
            </div>
            <div>
                <img class="machine" src="../assets/nav/machine.svg" width="23" height="22" alt="">
            </div>
                <div class="day">
                    <p class="today">Today</p>
                    <p>Yesterday</p>
                    <p>Last Week</p>
                    <fa-icon [icon]="faCalendarDay" class="fa-2x day-icon"></fa-icon> 
                </div>
        </nav>
        <!--end nav-->
