        <!--nav-->
        <nav>
            <div class="factory-name">
                <img class="icons-1" src="../assets/nav/hotel-solid.svg" width="23px" alt="">
                <p>Factory Name</p>
                <img class="icons-2" src="../assets/nav/chevron-down-solid.svg" width="12" alt="">
            </div>
            <div class="setting">
                <img src="../assets/nav/pereformance.svg" alt="">
            </div>
            <div>
                <img class="machine" src="../assets/nav/machine.svg" width="23" height="22" alt="">
            </div>
                <div class="day">
                    <p class="today">Today</p>
                    <p>Yesterday</p>
                    <p>Last Week</p>
                    <img class="day-icon" src="../assets/nav/calendar-day-solid.svg" width="23" height="22" alt="">
                </div>
        </nav>
        <!--end nav-->
