body{
    display: flex;
    margin: 0;
    padding: 0;
    background: var(--unnamed-color-f4f7fe) 0% 0% no-repeat padding-box;
    background: #F4F7FE 0% 0% no-repeat padding-box;
}

.titel{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-003f5c);
    text-align: left;
    font: normal normal 600 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #003F5C;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 44px;
    margin-left: 40px;
    width: 99px;
    height: 19;
}
//Total Productioa//
.total-productioa{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 350px;
    height: 150px;
    margin-left: 30px;
    img{
        display: grid;
        grid-column: 2;
        grid-row:2 ;
        margin-left:50px ;
    }
    .p-1{
    display: grid;
    width: 120px;
    height: 1;
    grid-column: 4;
    grid-row:2 ;
    font-size: 14px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0-28);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0.28px;
    color: #000000;
    }
    .p-2{
    display: grid;
    grid-column:2 ;
    grid-row: 5;
    font-size: 21px;
    text-align: left;
    font: normal normal medium 21px/15px Montserrat;
    letter-spacing: 0.42px;
    color: #000000;
    grid-template-columns: repeat(4, 1fr);
    samp{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    font-size: 12px;
    
    }
    }
    .p-3{
    display: grid;
    grid-row:6 ;
    grid-column: 2;
    font-size: 10px;
    font: var(--unnamed-font-style-normal) normal 300 10px/12px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-2d62ed);
    text-align: left;
    font: normal normal 300 10px/12px Montserrat;
    letter-spacing: 0px;
    color: #2D62ED;
    opacity: 1;
    }
    .p-4{      
        display: grid;
        grid-column:5 ;
        grid-row: 5;
        font-size: 21px;
        text-align: right;
        font: normal normal medium 21px/15px Montserrat;
        letter-spacing: 0.42px;
        color: #000000;
        grid-template-columns: repeat(4, 1fr);
        samp{
        display: grid;
        grid-column: 3;
        grid-row: 1;
        font-size: 12px;
    }
    }
    .p-5{
        display: grid;
        width: 80px;
        grid-column: 5;
        grid-row: 6;
        text-align: center;
        font-size: 10px;
        font: var(--unnamed-font-style-normal) normal 300 10px/12px var(--unnamed-font-family-montserrat);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal 300 10px/12px Montserrat;
        letter-spacing: 0px;
        color: #9D9D9D;
        }
        progress{
            margin-top: 6px;
            text-align: center;
            grid-row: 8;
            grid-column:4 ;
            
        }
        .p-6{
            
            text-align: center;
            font-size: 24px;
            grid-column:5 ;
            grid-row: 8;
        }
}
// end Total Productioa //