<body>
    <div class="nav-comb">
        <app-header></app-header>
    </div>
    <div class="dashboard">
            <nav>
                <app-nav></app-nav>
                <div class="titel">
                    <h3>Dashboard</h3>
                </div>
            </nav>
            
            
        <div class="top">
            <!--Total Productioa-->
            <div class="total-productioa">
                <img src="../assets/dashboard/product.svg" width="24" height="24" alt="">
                <p class="p-1">Total Production</p>
                <p class="p-2">5,000 <samp>km</samp></p>
                <p class="p-3">Actual Production</p>
                <p class="p-4">7,000 <samp>km</samp></p>
                <p class="p-5">Planned Production</p>
                <progress value="70" max="100"></progress>
                <p class="p-6">75%</p>
            </div>
            <!--end Total Productioa-->
            <!--Performance Indicator-->
            <div class="performance-indicator">
            <img src="../assets/dashboard/pereformance.svg" width="24" height="24" alt="">
            <p>Performance Indicator KPI</p>
            <circle-progress class="circular-bar-1"
            [percent]="75"
            [radius]="20"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#00D1DE'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = 'false'
            [showInnerStroke] = 'false'
            > </circle-progress>
            <p class="p-circular-bar-1">Avalability</p>

            <circle-progress class="circular-bar-2"
            [percent]="68"
            [radius]="20"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#00D1DE'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = 'false'
            [showInnerStroke] = 'false'
            > </circle-progress>
            <p class="p-circular-bar-2">Preformance</p>

            <circle-progress class="circular-bar-3"
            [percent]="25"
            [radius]="20"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#EC5967 '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = 'false'
            [showInnerStroke] = 'false'
            > </circle-progress>
            <p class="p-circular-bar-3">Quality</p>
            </div>
            <!-- end Performance Indicator-->
            <!--Material Consumption-->
            <div class="material-consumption total-productioa">
            <img src="../assets/dashboard/Material.svg" width="24" height="24" alt="">
            <p class="p-1">Material Consumption</p>
            <p class="p-2">5,000 <samp>km</samp></p>
            <p class="p-3">Actual Production</p>
            <p class="p-4">7,000 <samp>km</samp></p>
            <p class="p-5">Planned Production</p>
            <progress value="70" max="100"></progress>
            <p class="p-6">75%</p>
</div>
</div>
<!--end Material Consumption-->
            <!--Alerts-->
        <div class="alerts">
            <h4 class="boint"><samp class="alerts-p">Alerts</samp></h4>
            <div class="section-1"><img src="../assets/dashboard/Resources.svg" width="25" height="25" alt="">
                <p class="p1">Warehouse</p>
                <p class="p2">Confirm mass on machine</p>
                <p class="p3">ID</p>
                <p class="p4">4017702</p>
            </div>
            <div class="section-2"><img src="../assets/dashboard/machine.svg" width="25" height="25" alt="">
                <p class="p1">machine</p>
                <p class="p2">Confirm mass on machine</p>
                <p class="p3">ID</p>
                <p class="p4">4017702</p>
            </div>
            <div class="section-3"><img src="../assets/dashboard/machine.svg" width="25" height="25" alt="">
                <p class="p1">machine</p>
                <p class="p2">Confirm mass on machine</p>
                <p class="p3">ID</p>
                <p class="p4">4017702</p>
            </div>
            <div class="section-4"><img src="../assets/dashboard/machine.svg" width="25" height="25" alt="">
                <p class="p1">machine</p>
                <p class="p2">Confirm mass on machine</p>
                <p class="p3">ID</p>
                <p class="p4">4017702</p>
            </div>
       <div class="section-5"><img src="../assets/dashboard/pereformance.svg" width="25" height="25" alt="">
        <p class="p1">Preformance</p>
        <p class="p2">Low production yield count</p>
        <p class="p3">ID</p>
        <p class="p4">4017702</p>
    </div>
    
        </div>
        <!--end Alerts-->
        </div>
        
</body>
