<html>
    <body>
        <section class="singin-pag">
        <div class="img-1">
            <section class="back">
                <h2>One Platform For Managing all</h2>
                <h1>Manufacturing Aspects</h1>
                
            </section>
            <img src="../assets/login/platform.png" alt="">
        </div>
        <div class="img-2">
            <div class="mes">
                <img src="../assets/login/factoryIcon.png" alt="">
                <p>MES</p>
            </div>
            
            <div class="login">
                <input type="email" placeholder="AbdelHamed@mes.com">
                <input type="password" placeholder="password">
                <button routerLinkActive="active" routerLink="/Dashboard">LOGIN</button>
            </div>
        </div>
        
        </section>
    </body>
</html>

