
<body>
  <!--Home page-->
  <section class="home-pige">
    <div class="home">
      <img class="img-1" src="../assets/home/factoryIcon.svg">
      <h1 class="welocome">WELCOME TO MES </h1>
      
    </div>
    
      <div class="btn-1">
        <button class="btn" routerLinkActive="active" routerLink="/singin"><p class="btn-p">PROTOTYPE</p></button>
      </div>
      <div class="btn-2">
        <button class="btn"routerLinkActive="active" routerLink="/Components"><p class="btn-p">COMPONENTS</p></button>
      </div>
      <div class="btn-3">
        <button class="btn" routerLinkActive="active" routerLink="/MasterTheme"><p class="btn-p">MASTER THEME</p></button>
      </div>
    
  </section>
  
  <!--End Home page-->
</body>

